* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../ASSETS/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Albert Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 6%;
}

header #work {
    color: #FFF;
}

header #resume {
    background-color: #FFB800;
    border-radius: 999rem;
    padding: 1% 1.5%;
    color: #000;
    position: fixed;
    right: 5.5%;
}

nav {
    position: fixed;
    bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    visibility: hidden;
}

.nav-scrolled {
    top: 2%;
    bottom: auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
    border-radius: 999rem;
}

nav ul li a {
    color: #FFF;
    font-size: larger;
    font-weight: bolder;
}

#home {
    margin: 10% 6%;

}

h2 {
    color: #FFB800;
    font-size: 3em;
}

#home h1 {
    color: #FFF;
    font-size: 8em;
}

#home p {
    color: #FFF;
    font-size: 3em;
    padding-top: 0.3em;
}

#myself {
    position: fixed;
    height: 100%;
    bottom: 0;
    right: 15%;
    z-index: 0;
    visibility: hidden;
}

#contact-list1 {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 3%;
}

#contact-list1 li {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

#contact-list1 li img {
    align-self: center;
    display: inline;
    height: 3rem;
    padding: 0.5% 0.5%;
    margin-right: 0.9rem;
    background-color: #FFB800;
    border-radius: 50%;
}

#contact-list1 li a {
    color: #FFF;
    font-weight: bold;
    font-size: 1em;
}

#aboutme,
#experience,
#skills,
#projects,
#certificates,
#contactme {
    margin-top: 10%;
    margin-left: 6%;
    margin-right: 6%;
}

#aboutme p {
    font-weight: bold;
    width: 50%;
    font-size: 2em;
    margin-top: 5%;
    color: #FFF;
}

#experience ul {
    width: 60%;
}

.exp h3 {
    color: #FFF;
    font-size: 2em;
}

.exp strong,
.exp strong a {
    color: #FFB800;
    font-size: 1.2em;
}

.duration {
    margin-right: 20rem;
    margin-top: 0.65rem;
    font-weight: bold;
    color: #FFF;
    font-size: 1.2rem;
}

.exp-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 3rem 0rem 1rem 0rem;
}

.exp ul {
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 500;
    list-style-type: disc;
    padding-left: 2rem;
    width: 150%;
}

.exp ul li {
    margin-bottom: 1rem;
}

.certificate {
    margin-top: 3rem;
    padding: 0.5rem 0.5rem;
    background-color: #FFB800;
    border-radius: 999rem;
    font-weight: 600;
}

.skill-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.skill-category {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
}

.skill-category ul {
    display: grid;
    width: 60%;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
}

.skill-category:nth-child(1) {
    border-bottom-right-radius: 999px;

}

.skill-category:nth-child(2) {
    border-bottom-left-radius: 999px;
}

.skill-category:nth-child(3) {
    border-top-right-radius: 999px;
}

.skill-category:nth-child(4) {
    border-top-left-radius: 999px;
}

.skill-category h3 {
    color: #FFB800;
    font-size: 2rem;
    margin: 1.3rem;
}

.skill-category ul li {
    color: #FFF;
    font-size: 1.2rem;
    margin: 1.5rem 1.8rem;
    font-weight: bold;
}

.skill-category:nth-child(2),
.skill-category:nth-child(4) {
   text-align: right;
}

.skill-category:nth-child(2) ul,
.skill-category:nth-child(4) ul{
   align-self: flex-end;
}




